/* Style générale */
body
{
    color: black;
    font-family: 'Raleway', sans-serif;

    margin: auto;

    width: 1400px;
}

/* En-tête */
header
{
    display:flex;
    position:relative;
}

/* Navigation */
nav
{
    display: flex;
    align-items: flex-end; 
    position: absolute;
    right: 0px;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

a
{
    margin-right: 25px;
    text-decoration: none;
    color:black;

}

nav :hover
{
    color:#0065FC;
}

#inscription
{
    color:#0065FC;
    font-weight: bold;
}


/* Recherche détaillé */
.filtres
{
    
    border:1px solid #F2F2F2;
    border-radius: 45px;
}

.filtres .fas
{
    color: #0065FC;
    border-radius:45px;;
    background-color: #DEEBFF ;
    padding:5px;
}

#search_zone
{
    border-collapse: collapse;
}

.fa-info-circle
{
    color:#0065FC;
}

/* Hébergement */
#sec_hebergement
{
    display: flex;
    justify-content: space-between;
}



#liste_hebergement
{
    background-color: #F2F2F2;
    border-radius: 25px;
    width:auto;
    margin-right:30px
}

#all_hebergement
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hébergement
{
    padding:5px;
    margin-top:10px;
    background-color: white;
    border-radius:25px;
}

.img_hebergement
{
    width: 270px;
    height: 170px;
    border-radius:25px 25px 0px 0px;
}

article h3
{
    margin:0px;
}

/* Les hébergement populaire */
#titre_populaire
{
    display: flex;
    justify-content: space-between;
}

#titre_populaire h1
{
    margin-left: 25px;
    margin-top:50px;
    margin-bottom:0px;
    font-weight: bold;
}

#titre_populaire .fas
{
    padding-right: 25px;
}

.des-pop
{
    padding-left: 25px;
}

aside
{
    background-color:#F2F2F2;
    border-radius: 25px;
    width:650px;
}

.popular_hebergement
{
    display: flex;
    background-color: white;
    width:350px;
    height: auto;
    margin:auto;
    border-radius: 25px;
    margin-top:35px;
}

.popular_hebergement img
{
    width:140px;
    height: 140px;
    border-radius: 25px 0px 0px 25px;
    margin:3px;
}

/* Section Activité */
#all_activity
{
    display: flex;
    align-items: center;
    margin:15px
}
.activity
{
    box-shadow:1px 1px 5px black;
    border-radius:25px;
    margin:25px;

}
.activity img
{
    width:300px;
    height:350px;
    border-radius:25px 25px 0px 0px;
    margin:15px;
    margin:0px;
}
.double_activity img
{
    width:300px;
    height:125px;
    border-radius:25px 25px 0px 0px;
    margin:15px;
    margin:0px;
}

.activity h3
{
    padding-left:30px;
}

/* Pied de page */
footer
{
    display:flex;
    background-color: #F2F2F2;
}

.info 
{
    margin-right: 200px;
}

/* Media Queries Phone */
@media screen and (max-width:411px)
{
    body
    {
        margin:auto;
        width:auto;
    }
    /* En tête */
    header
    {
        flex-direction: column;
        padding-bottom:0px;
    }   
    header img
    {
        width:150px
    }

    /* Navigation */
    nav
    {
        position: relative;
    }


    /* Zone de Recherche */
    #recherche
    {
        width:370px;
        margin:auto;
    }
    #recherche h1
    {
        font-size: 25px;
    }


    /* Les Hébergement */
    #sec_hebergement
    {
        flex-direction: column-reverse;
    }
    #liste_hebergement
    {
        background-color: white;
        margin:auto;
    }

    #title_popular
    {
        margin:auto;
    }

    aside
    {
        border-radius: 0px;
        margin:auto;
        width:350px;
    }

    .hébergement
    {
        box-shadow:1px 3px 3px black;
        margin:auto;
    }

    /* Les hébergement populaire */
    .popular_hebergement
    {
        box-shadow:1px 1px 3px black;
        width:330px;

        margin:auto;
        
    }
    .fa-star
    {
        color:#F2F2F2
    }
    .selected
    {
        color:#0065FC;
    }
    footer
    {
        flex-direction: column;
    }

    /* les activités */
    #all_activity
    {
        flex-direction: column;
    }

    .activity img
    {
        width:300px;
        height:125px;
        border-radius:25px 25px 0px 0px;
        margin:15px;
        margin:0px;
    }
    .double_activity img
    {
        width:300px;
        height:125px;
        border-radius:25px 25px 0px 0px;
        margin:15px;
        margin:0px;
    }

    .info
    {
        margin:auto;
    }
}